@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right top, #ebf2d3, #dbe8c7, #cbddbd, #bbd3b2, #aac9a9, #98bea0, #85b398, #73a891, #5b9988, #438980, #297a78, #006b70);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-conatiner {
  padding: 1rem;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.clean-filters {
  padding: 8px 12px;
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clean-filters:hover {
  background-color: #ff7875;
}

.show-filters-btn {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}

.show-filters-btn:hover {
  background-color: #0056b3;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}